In [106]:
import requests
import pandas as pd
import json
import warnings
warnings.filterwarnings("ignore")
import math
from geopy import distance

In [107]:
API_key = 'AIzaSyBLt49krWAY2pM0NkKUFXdzYHKyfa3r4RQ'

In [124]:
#load the csvs
df = pd.read_csv('Hotel Data.csv')
# df = df.head(100)
df

,Downloaded,Country(Booking),Hotel ID,Company Name,Address,BHFS KYP Gap identified,KYP Requirements met (Y/N),<-- Booking,Hint,Score,...,TIN,LEI,Incorporation Date,Beneficial Owners,Beneficial Owners From Register,Shareholders,Controlling Shareholders,Global Ultimate Owners,Unnamed: 31,Directors or Managers
0,Yes,nl,10010,Strandhotel Zoutelande,NIEUWSTRAAT 14,NaN,NaN,NaN,Potential,0.92,...,805734958,7245009ZP4X4SZC79G88,1996-11-12T00:00:00,NaN,NaN,"{""name"":""BOOKING.COM HOLDING B.V."",""country_co...","{""name"":""BOOKING HOLDINGS INC."",""type"":""Corpor...","{""name"":""BOOKING HOLDINGS INC."",""type"":""Corpor...",NaN,"{""name"":""Mf Lima Da Rocha Barros"",""job_title"":..."
1,Yes,nl,10295,Postillion Hotel Utrecht Bunnik,BAAN VAN FECTIO 1,NaN,NaN,NaN,Potential,0.92,...,52-2055918,225YDZ14ZO8E1TXUSU86,1997-09-19T00:00:00,NaN,NaN,"{""name"":""MR DAVID MARRIOTT"",""country_code"":""n....",NaN,"{""name"":""MARRIOTT INTERNATIONAL INC"",""type"":""C...",NaN,NaN
2,NaN,nl,10481,Sheraton Amsterdam Airport Hotel and Conferenc...,SCHIPHOL BOULEVARD 101,NaN,NaN,NaN,Selected,0.98,...,316580869,9695009FXHWX468RM706,1979-12-31T00:00:00,"{""name"":""MR BREMOND GERARD"",""birthdate"":""1937-...",NaN,"{""name"":""SOCIETE D'INVESTISSEMENT TOURISTIQUE ...","{""name"":""S I T I R"",""type"":""Mutual and pension...","{""name"":""S I T I R"",""type"":""Mutual and pension...",NaN,"{""name"":""Mr Gerard Albert Bremond"",""job_title""..."
3,NaN,nl,10649,Hotel Premiere Classe Breda (Hotel Breda B.V.),MINERVUM 7090,NaN,NaN,NaN,Potential,0.91,...,988 969 656,NaN,2005-11-25T00:00:00,NaN,NaN,"{""name"":""OLAV THON STIFTELSEN"",""country_code"":...","{""name"":""OLAV THON STIFTELSEN"",""type"":""Mutual ...","{""name"":""OLAV THON STIFTELSEN"",""type"":""Mutual ...",NaN,"{""name"":""Mr Olav Thon"",""job_title"":""Chairman"",..."
4,NaN,nl,10744,Claus Hotel Exploitatite BV,BOSWEG 15,NaN,NaN,NaN,Potential,0.99,...,953 149 117,NaN,1995-03-12T00:00:00,NaN,NaN,"{""name"":""SCANDIC HOTELS AKTIEBOLAG"",""country_c...","{""name"":""SCANDIC HOTELS GROUP AB"",""type"":""Corp...","{""name"":""SCANDIC HOTELS GROUP AB"",""type"":""Corp...",NaN,"{""name"":""Mr Snorre Moe"",""job_title"":""Chairman""..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Yes,it,1322420,Agenzia Aprilia srls,VLE DEI CORALLI 66,No gaps - Full KYP requirments met if source o...,Y,NaN,Selected,0.86,...,NaN,NaN,2012-09-03T00:00:00,"{""name"":""MR PAUL KROESBACHER"",""birthdate"":""196...",NaN,"{""name"":""MR PAUL KROESBACHER"",""country_code"":""...","{""name"":""MR PAUL KROESBACHER"",""type"":""One or m...","{""name"":""MR PAUL KROESBACHER"",""type"":""One or m...",NaN,"{""name"":""Mr Paul Kroesbacher"",""job_title"":""Chi..."
496,NaN,pt,1339848,"Luso-Atlantico, Lda.",NaN,Unable to verify the legal entity,N,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
497,Yes,pl,1343035,Toru?ska Infrastruktura Sportowa Sp. z o.o.,GEN. J. BEMA 73-89,DOB's for all directors and UBO,N,NaN,Selected,1.00,...,NaN,NaN,1985-04-25T00:00:00,"{""name"":""MRS KATRIN LENGAUER-KALTNER"",""birthda...",NaN,"{""name"":""YOUNG AUSTRIA BETEILIGUNGSGMBH"",""coun...",NaN,"{""name"":""YOUNG AUSTRIA BETEILIGUNGSGMBH"",""type...",NaN,"{""name"":""Ms Ingeborg Spoecker"",""job_title"":""Au..."
498,Yes,pt,1344485,AEMD,"PRACA ALEXANDRE HERCULANO, 29 R/C",DOB for MS MARIA ALDINA GONCALVES MARUM MARTIN...,N,NaN,Potential,0.89,...,NaN,NaN,1999-03-03T00:00:00,"{""name"":""MR MEHMET KOSMAZ"",""birthdate"":null,""a...",NaN,"{""name"":""MR MEHMET KOSMAZ"",""country_code"":""n.a...",NaN,NaN,NaN,"{""name"":""Mr Kuersat Kosmaz"",""job_title"":""Chair..."
499,Yes,fr,1365592,SAS LES CORNETTES (LES CORNETTES),43 ROUTE DES FRASSES,No gaps - Full KYP requirments met if source o...,Y,NaN,Selected,1.00,...,NaN,NaN,NaN,"{""name"":""GER VURAL"",""birthdate"":null,""address""...",NaN,"{""name"":""�GER OTEL ISLETMELERI TURIZM VE TICAR...","{""name"":""GER VURAL"",""type"":""One or more named ...","{""name"":""GER VURAL"",""type"":""One or more named ...",NaN,NaN

In [125]:
base_url = 'https://maps.googleapis.com/maps/api/geocode/json?'

# Row iteration

In [126]:
df['geo_lat_company'] = ''
df['geo_long_company'] = ''
df['geo_address_using_company'] = ''

In [127]:
for index, row in df.iterrows():
    address = row['Company Name']
    
    params = {
        'key': API_key,
        'address': address
    }
    
    response = requests.get(base_url, params=params).json()
    
    if response['status'] == 'OK':
        geometry = response['results'][0]['geometry']
        lat = geometry['location']['lat']
        long = geometry['location']['lng']
        address = response['results'][0]['formatted_address']
        df.geo_lat_company[index] = lat
        df.geo_long_company[index] = long
        df.geo_address_using_company[index] = address

In [133]:
df_new = df[['Hotel ID', 'Company Name', 'Address', 'geo_address_using_company', 'geo_lat_company', 'geo_long_company']]
df_new

,Hotel ID,Company Name,Address,geo_address_using_company,geo_lat_company,geo_long_company
0,10010,Strandhotel Zoutelande,NIEUWSTRAAT 14,"Westkapelseweg 1, 4374 BA Zoutelande, Netherlands",51.501019,3.481098
1,10295,Postillion Hotel Utrecht Bunnik,BAAN VAN FECTIO 1,"Baan van Fectio 1, 3981 HZ Bunnik, Netherlands",52.061759,5.205331
2,10481,Sheraton Amsterdam Airport Hotel and Conferenc...,SCHIPHOL BOULEVARD 101,"Schiphol Boulevard 101, 1118 BG Schiphol, Neth...",52.308973,4.760062
3,10649,Hotel Premiere Classe Breda (Hotel Breda B.V.),MINERVUM 7090,"Minervum 7092, 4817 ZK Breda, Netherlands",51.591444,4.834314
4,10744,Claus Hotel Exploitatite BV,BOSWEG 15,"91 W Christmas Blvd, Santa Claus, IN 47579, USA",38.116755,-86.925332
...,...,...,...,...,...,...
495,1322420,Agenzia Aprilia srls,VLE DEI CORALLI 66,"Viale dei Coralli, 66, 33053 Fraz.Aprilia Mari...",45.693985,13.067899
496,1339848,"Luso-Atlantico, Lda.",NaN,"R. do Tronco, 4465-274 São Mamede de Infesta, ...",41.185215,-8.620755
497,1343035,Toru?ska Infrastruktura Sportowa Sp. z o.o.,GEN. J. BEMA 73-89,"Szosa Chełmińska 27, 87-100 Toruń, Poland",53.043076,18.579784
498,1344485,AEMD,"PRACA ALEXANDRE HERCULANO, 29 R/C","3000 Chem. de la Côte-Sainte-Catherine, Montré...",45.503639,-73.621445
499,1365592,SAS LES CORNETTES (LES CORNETTES),43 ROUTE DES FRASSES,"Les Cornettes, 43 Route des Frasses, 74360 La ...",46.295473,6.789106

In [134]:
df_new['geo_address_using_address'] = ''
df_new['geo_lat_address'] = ''
df_new['geo_long_address'] = ''

for index, row in df_new.iterrows():
    address = row['Address']
    params = {
        'key': API_key,
        'address': address
    }
    
    response = requests.get(base_url, params=params).json()
    
    if response['status'] == 'OK':
        geometry = response['results'][0]['geometry']
        lat = geometry['location']['lat']
        long = geometry['location']['lng']
        df_new.geo_lat_address[index] = lat
        df_new.geo_long_address[index] = long
        address_new = response['results'][0]['formatted_address']
        df_new.geo_address_using_address[index] = address_new

In [135]:
# df_new['geo_lat_company'] = df_new['geo_lat_company'].astype(float)
# print(df_new['geo_lat_company'].dtypes)
df_new['geo_lat_company'] = pd.to_numeric(df_new['geo_lat_company'])
print(df_new['geo_lat_company'].dtypes)

df_new['geo_long_company'] = pd.to_numeric(df_new['geo_long_company'])
print(df_new['geo_lat_company'].dtypes)

df_new['geo_lat_address'] = pd.to_numeric(df_new['geo_lat_address'])
print(df_new['geo_lat_address'].dtypes)

df_new['geo_long_address'] = pd.to_numeric(df_new['geo_long_address'])
print(df_new['geo_long_address'].dtypes)
# df_new.fillna('######')
df_new = df_new.dropna()
# df_new.head(10)

float64
float64
float64
float64

In [136]:
# df_new = df_new.head(5)
df_new['distance'] = ''
# df_new['Company coordinates'] = (df_new['geo_lat_company'], df_new['geo_long_company'])
# df_new['Address coordinates'] = (df_new['geo_lat_address'], df_new['geo_long_address'])
for index, row in df_new.iterrows():
        df_new.distance[index] = distance.distance((df_new.geo_lat_company[index], df_new.geo_long_company[index]), (df_new.geo_lat_address[index], df_new.geo_long_address[index])).km
df_new

,Hotel ID,Company Name,Address,geo_address_using_company,geo_lat_company,geo_long_company,geo_address_using_address,geo_lat_address,geo_long_address,distance
0,10010,Strandhotel Zoutelande,NIEUWSTRAAT 14,"Westkapelseweg 1, 4374 BA Zoutelande, Netherlands",51.501019,3.481098,"Nieuwstraat 14, 5688 BE Oirschot, Netherlands",51.503806,5.305785,126.697577
1,10295,Postillion Hotel Utrecht Bunnik,BAAN VAN FECTIO 1,"Baan van Fectio 1, 3981 HZ Bunnik, Netherlands",52.061759,5.205331,"Baan van Fectio 1, 3981 AJ Bunnik, Netherlands",52.061035,5.205139,0.081621
2,10481,Sheraton Amsterdam Airport Hotel and Conferenc...,SCHIPHOL BOULEVARD 101,"Schiphol Boulevard 101, 1118 BG Schiphol, Neth...",52.308973,4.760062,"Schiphol Boulevard 101, 1118 BG Schiphol, Neth...",52.308560,4.760362,0.050262
3,10649,Hotel Premiere Classe Breda (Hotel Breda B.V.),MINERVUM 7090,"Minervum 7092, 4817 ZK Breda, Netherlands",51.591444,4.834314,"Minervum 7090, 4817 ZK Breda, Netherlands",51.591433,4.834264,0.003644
4,10744,Claus Hotel Exploitatite BV,BOSWEG 15,"91 W Christmas Blvd, Santa Claus, IN 47579, USA",38.116755,-86.925332,"Courtyard, Bosweg 15, 2131 LX Hoofddorp, Nethe...",52.321204,4.666163,6870.615304
...,...,...,...,...,...,...,...,...,...,...
493,1270341,Euro tours d.o.o.,PARTIZANSKA 4/1,"37000 Tours, France",47.383046,0.702893,"Partizanska ul. 4/1, 52440, Poreč, Croatia",45.227082,13.600717,1020.782435
494,1273823,My Stay LTD (My Stay London),67 WINGATE SQUARE,"19 Warwick Rd, London SW5 9UL, UK",51.489077,-0.193935,"67 Wingate Square, London SW4 0AF, UK",51.463616,-0.140337,4.678805
495,1322420,Agenzia Aprilia srls,VLE DEI CORALLI 66,"Viale dei Coralli, 66, 33053 Fraz.Aprilia Mari...",45.693985,13.067899,"Viale dei Coralli, 66, 33053 Bevazzana UD, Italy",45.693955,13.067979,0.007052
497,1343035,Toru?ska Infrastruktura Sportowa Sp. z o.o.,GEN. J. BEMA 73-89,"Szosa Chełmińska 27, 87-100 Toruń, Poland",53.043076,18.579784,"Generała Józefa Bema 73/89, 87-100 Toruń, Poland",53.017749,18.588862,2.883629
498,1344485,AEMD,"PRACA ALEXANDRE HERCULANO, 29 R/C","3000 Chem. de la Côte-Sainte-Catherine, Montré...",45.503639,-73.621445,"Praça Alexandre Herculano 29, 8000-417 Faro, P...",37.014954,-7.931436,5430.170686

In [138]:
df_new = df_new[['Hotel ID', 'Company Name', 'Address', 'geo_address_using_company', 'geo_address_using_address', 'geo_lat_company', 'geo_long_company', 'geo_lat_address', 'geo_long_address', 'distance' ]]

In [143]:
df_new['exact_match'] = 'False'
df_new['close_match'] = 'False'
df_new['city_match'] = 'False'

for index, row in df_new.iterrows():
    
    if(df_new.distance[index] < 0.1):
        df_new.exact_match[index] = 'True'
    elif(df_new.distance[index] > 1 and df_new.distance[index] > 0.1 and df_new.distance[index] < 10 ):
        df_new.close_match[index] = 'True'
    else:
        df_new.city_match[index] = 'True'

df_new.to_csv('Distance_Hotel_Data.csv')
df_new

,Hotel ID,Company Name,Address,geo_address_using_company,geo_address_using_address,geo_lat_company,geo_long_company,geo_lat_address,geo_long_address,distance,exact_match,close_match,city_match
0,10010,Strandhotel Zoutelande,NIEUWSTRAAT 14,"Westkapelseweg 1, 4374 BA Zoutelande, Netherlands","Nieuwstraat 14, 5688 BE Oirschot, Netherlands",51.501019,3.481098,51.503806,5.305785,126.697577,False,False,True
1,10295,Postillion Hotel Utrecht Bunnik,BAAN VAN FECTIO 1,"Baan van Fectio 1, 3981 HZ Bunnik, Netherlands","Baan van Fectio 1, 3981 AJ Bunnik, Netherlands",52.061759,5.205331,52.061035,5.205139,0.081621,True,False,False
2,10481,Sheraton Amsterdam Airport Hotel and Conferenc...,SCHIPHOL BOULEVARD 101,"Schiphol Boulevard 101, 1118 BG Schiphol, Neth...","Schiphol Boulevard 101, 1118 BG Schiphol, Neth...",52.308973,4.760062,52.308560,4.760362,0.050262,True,False,False
3,10649,Hotel Premiere Classe Breda (Hotel Breda B.V.),MINERVUM 7090,"Minervum 7092, 4817 ZK Breda, Netherlands","Minervum 7090, 4817 ZK Breda, Netherlands",51.591444,4.834314,51.591433,4.834264,0.003644,True,False,False
4,10744,Claus Hotel Exploitatite BV,BOSWEG 15,"91 W Christmas Blvd, Santa Claus, IN 47579, USA","Courtyard, Bosweg 15, 2131 LX Hoofddorp, Nethe...",38.116755,-86.925332,52.321204,4.666163,6870.615304,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
493,1270341,Euro tours d.o.o.,PARTIZANSKA 4/1,"37000 Tours, France","Partizanska ul. 4/1, 52440, Poreč, Croatia",47.383046,0.702893,45.227082,13.600717,1020.782435,False,False,True
494,1273823,My Stay LTD (My Stay London),67 WINGATE SQUARE,"19 Warwick Rd, London SW5 9UL, UK","67 Wingate Square, London SW4 0AF, UK",51.489077,-0.193935,51.463616,-0.140337,4.678805,False,True,False
495,1322420,Agenzia Aprilia srls,VLE DEI CORALLI 66,"Viale dei Coralli, 66, 33053 Fraz.Aprilia Mari...","Viale dei Coralli, 66, 33053 Bevazzana UD, Italy",45.693985,13.067899,45.693955,13.067979,0.007052,True,False,False
497,1343035,Toru?ska Infrastruktura Sportowa Sp. z o.o.,GEN. J. BEMA 73-89,"Szosa Chełmińska 27, 87-100 Toruń, Poland","Generała Józefa Bema 73/89, 87-100 Toruń, Poland",53.043076,18.579784,53.017749,18.588862,2.883629,False,True,False
498,1344485,AEMD,"PRACA ALEXANDRE HERCULANO, 29 R/C","3000 Chem. de la Côte-Sainte-Catherine, Montré...","Praça Alexandre Herculano 29, 8000-417 Faro, P...",45.503639,-73.621445,37.014954,-7.931436,5430.170686,False,False,True

In [82]:
# newport_ri = (41.49008, -71.312796)
# cleveland_oh = (41.499498, -81.695391)
# print(distance.distance(newport_ri, cleveland_oh).miles)

538.3904453677205

In [74]:
df_new['Company_&_address'] = df_new['Company Name'] + ' ' + df_new['Address']

,Hotel ID,Company Name,Address,geo_address_using_company,geo_lat_company,geo_long_company,geo_address_using_address,geo_lat_address,geo_long_address,Company_&_address
0,10010,Strandhotel Zoutelande,NIEUWSTRAAT 14,"Westkapelseweg 1, 4374 BA Zoutelande, Netherlands",51.501019,3.481098,"Nieuwstraat 14, 5688 BE Oirschot, Netherlands",51.503806,5.305785,Strandhotel Zoutelande NIEUWSTRAAT 14
1,10295,Postillion Hotel Utrecht Bunnik,BAAN VAN FECTIO 1,"Baan van Fectio 1, 3981 HZ Bunnik, Netherlands",52.061759,5.205331,"Baan van Fectio 1, 3981 AJ Bunnik, Netherlands",52.061035,5.205139,Postillion Hotel Utrecht Bunnik BAAN VAN FECTIO 1
2,10481,Sheraton Amsterdam Airport Hotel and Conferenc...,SCHIPHOL BOULEVARD 101,"Schiphol Boulevard 101, 1118 BG Schiphol, Neth...",52.308973,4.760062,"Schiphol Boulevard 101, 1118 BG Schiphol, Neth...",52.30856,4.760362,Sheraton Amsterdam Airport Hotel and Conferenc...
3,10649,Hotel Premiere Classe Breda (Hotel Breda B.V.),MINERVUM 7090,"Minervum 7092, 4817 ZK Breda, Netherlands",51.591444,4.834314,"Minervum 7090, 4817 ZK Breda, Netherlands",51.591433,4.834264,Hotel Premiere Classe Breda (Hotel Breda B.V.)...
4,10744,Claus Hotel Exploitatite BV,BOSWEG 15,"91 W Christmas Blvd, Santa Claus, IN 47579, USA",38.116755,-86.925332,"Courtyard, Bosweg 15, 2131 LX Hoofddorp, Nethe...",52.321204,4.666163,Claus Hotel Exploitatite BV BOSWEG 15
...,...,...,...,...,...,...,...,...,...,...
495,1322420,Agenzia Aprilia srls,VLE DEI CORALLI 66,"Viale dei Coralli, 66, 33053 Fraz.Aprilia Mari...",45.693985,13.067899,"Viale dei Coralli, 66, 33053 Bevazzana UD, Italy",45.693955,13.067979,Agenzia Aprilia srls VLE DEI CORALLI 66
496,1339848,"Luso-Atlantico, Lda.",NaN,"R. do Tronco, 4465-274 São Mamede de Infesta, ...",41.185215,-8.620755,"800 W Laurel St, Independence, KS 67301, USA",37.225606,-95.716202,NaN
497,1343035,Toru?ska Infrastruktura Sportowa Sp. z o.o.,GEN. J. BEMA 73-89,"Szosa Chełmińska 27, 87-100 Toruń, Poland",53.043076,18.579784,"Generała Józefa Bema 73/89, 87-100 Toruń, Poland",53.017749,18.588862,Toru?ska Infrastruktura Sportowa Sp. z o.o. GE...
498,1344485,AEMD,"PRACA ALEXANDRE HERCULANO, 29 R/C","3000 Chem. de la Côte-Sainte-Catherine, Montré...",45.503639,-73.621445,"Praça Alexandre Herculano 29, 8000-417 Faro, P...",37.014954,-7.931436,"AEMD PRACA ALEXANDRE HERCULANO, 29 R/C"
499,1365592,SAS LES CORNETTES (LES CORNETTES),43 ROUTE DES FRASSES,"Les Cornettes, 43 Route des Frasses, 74360 La ...",46.295473,6.789106,,,,SAS LES CORNETTES (LES CORNETTES) 43 ROUTE DES...

In [48]:
df_new['geo_address_using_both'] = ''
for index, row in df_new.iterrows():
    address = row['Company_&_address']
    
    params = {
        'key': API_key,
        'address': address
    }
    
    response = requests.get(base_url, params=params).json()
    
    if response['status'] == 'OK':
        geometry = response['results'][0]['geometry']
#         lat = geometry['location']['lat']
#         long = geometry['location']['lng']
        address = response['results'][0]['formatted_address']
        df_new.geo_address_using_both[index] = address

In [49]:
df_new

,Hotel ID,Company Name,Address,geo_address_using_company,geo_address_using_address,Company_&_address,geo_address_using_both
0,10010,Strandhotel Zoutelande,NIEUWSTRAAT 14,"Westkapelseweg 1, 4374 BA Zoutelande, Netherlands","Nieuwstraat 14, 5688 BE Oirschot, Netherlands",Strandhotel Zoutelande NIEUWSTRAAT 14,"Westkapelseweg 1, 4374 BA Zoutelande, Netherlands"
1,10295,Postillion Hotel Utrecht Bunnik,BAAN VAN FECTIO 1,"Baan van Fectio 1, 3981 HZ Bunnik, Netherlands","Baan van Fectio 1, 3981 AJ Bunnik, Netherlands",Postillion Hotel Utrecht Bunnik BAAN VAN FECTIO 1,"Baan van Fectio 1, 3981 HZ Bunnik, Netherlands"
2,10481,Sheraton Amsterdam Airport Hotel and Conferenc...,SCHIPHOL BOULEVARD 101,"Schiphol Boulevard 101, 1118 BG Schiphol, Neth...","Schiphol Boulevard 101, 1118 BG Schiphol, Neth...",Sheraton Amsterdam Airport Hotel and Conferenc...,"Schiphol Boulevard 101, 1118 BG Schiphol, Neth..."
3,10649,Hotel Premiere Classe Breda (Hotel Breda B.V.),MINERVUM 7090,"Minervum 7092, 4817 ZK Breda, Netherlands","Minervum 7090, 4817 ZK Breda, Netherlands",Hotel Premiere Classe Breda (Hotel Breda B.V.)...,"Minervum 7090, 4817 ZK Breda, Netherlands"
4,10744,Claus Hotel Exploitatite BV,BOSWEG 15,"91 W Christmas Blvd, Santa Claus, IN 47579, USA","Courtyard, Bosweg 15, 2131 LX Hoofddorp, Nethe...",Claus Hotel Exploitatite BV BOSWEG 15,"Bosweg 15, 2131 LX Hoofddorp, Netherlands"
...,...,...,...,...,...,...,...
495,1322420,Agenzia Aprilia srls,VLE DEI CORALLI 66,"Viale dei Coralli, 66, 33053 Fraz.Aprilia Mari...","Viale dei Coralli, 66, 33053 Bevazzana UD, Italy",Agenzia Aprilia srls VLE DEI CORALLI 66,"Viale dei Coralli, 66, 33053 Fraz.Aprilia Mari..."
496,1339848,"Luso-Atlantico, Lda.",NaN,"R. do Tronco, 4465-274 São Mamede de Infesta, ...","800 W Laurel St, Independence, KS 67301, USA",NaN,"800 W Laurel St, Independence, KS 67301, USA"
497,1343035,Toru?ska Infrastruktura Sportowa Sp. z o.o.,GEN. J. BEMA 73-89,"Szosa Chełmińska 27, 87-100 Toruń, Poland","Generała Józefa Bema 73/89, 87-100 Toruń, Poland",Toru?ska Infrastruktura Sportowa Sp. z o.o. GE...,"Szosa Chełmińska 27, 87-100 Toruń, Poland"
498,1344485,AEMD,"PRACA ALEXANDRE HERCULANO, 29 R/C","3000 Chem. de la Côte-Sainte-Catherine, Montré...","Praça Alexandre Herculano 29, 8000-417 Faro, P...","AEMD PRACA ALEXANDRE HERCULANO, 29 R/C","Praça Alexandre Herculano 29, 8000-417 Faro, P..."
499,1365592,SAS LES CORNETTES (LES CORNETTES),43 ROUTE DES FRASSES,"Les Cornettes, 43 Route des Frasses, 74360 La ...",,SAS LES CORNETTES (LES CORNETTES) 43 ROUTE DES...,

In [56]:
df2 =df_new[['Hotel ID', 'Company Name', 'Address', 'Company_&_address', 'geo_address_using_company', 'geo_address_using_address', 'geo_address_using_both' ]]

# df2.to_csv('Hotel_Geo_Dataset.csv', index=False)
df2.fillna('######')

,Hotel ID,Company Name,Address,Company_&_address,geo_address_using_company,geo_address_using_address,geo_address_using_both
0,10010,Strandhotel Zoutelande,NIEUWSTRAAT 14,Strandhotel Zoutelande NIEUWSTRAAT 14,"Westkapelseweg 1, 4374 BA Zoutelande, Netherlands","Nieuwstraat 14, 5688 BE Oirschot, Netherlands","Westkapelseweg 1, 4374 BA Zoutelande, Netherlands"
1,10295,Postillion Hotel Utrecht Bunnik,BAAN VAN FECTIO 1,Postillion Hotel Utrecht Bunnik BAAN VAN FECTIO 1,"Baan van Fectio 1, 3981 HZ Bunnik, Netherlands","Baan van Fectio 1, 3981 AJ Bunnik, Netherlands","Baan van Fectio 1, 3981 HZ Bunnik, Netherlands"
2,10481,Sheraton Amsterdam Airport Hotel and Conferenc...,SCHIPHOL BOULEVARD 101,Sheraton Amsterdam Airport Hotel and Conferenc...,"Schiphol Boulevard 101, 1118 BG Schiphol, Neth...","Schiphol Boulevard 101, 1118 BG Schiphol, Neth...","Schiphol Boulevard 101, 1118 BG Schiphol, Neth..."
3,10649,Hotel Premiere Classe Breda (Hotel Breda B.V.),MINERVUM 7090,Hotel Premiere Classe Breda (Hotel Breda B.V.)...,"Minervum 7092, 4817 ZK Breda, Netherlands","Minervum 7090, 4817 ZK Breda, Netherlands","Minervum 7090, 4817 ZK Breda, Netherlands"
4,10744,Claus Hotel Exploitatite BV,BOSWEG 15,Claus Hotel Exploitatite BV BOSWEG 15,"91 W Christmas Blvd, Santa Claus, IN 47579, USA","Courtyard, Bosweg 15, 2131 LX Hoofddorp, Nethe...","Bosweg 15, 2131 LX Hoofddorp, Netherlands"
...,...,...,...,...,...,...,...
495,1322420,Agenzia Aprilia srls,VLE DEI CORALLI 66,Agenzia Aprilia srls VLE DEI CORALLI 66,"Viale dei Coralli, 66, 33053 Fraz.Aprilia Mari...","Viale dei Coralli, 66, 33053 Bevazzana UD, Italy","Viale dei Coralli, 66, 33053 Fraz.Aprilia Mari..."
496,1339848,"Luso-Atlantico, Lda.",######,######,"R. do Tronco, 4465-274 São Mamede de Infesta, ...","800 W Laurel St, Independence, KS 67301, USA","800 W Laurel St, Independence, KS 67301, USA"
497,1343035,Toru?ska Infrastruktura Sportowa Sp. z o.o.,GEN. J. BEMA 73-89,Toru?ska Infrastruktura Sportowa Sp. z o.o. GE...,"Szosa Chełmińska 27, 87-100 Toruń, Poland","Generała Józefa Bema 73/89, 87-100 Toruń, Poland","Szosa Chełmińska 27, 87-100 Toruń, Poland"
498,1344485,AEMD,"PRACA ALEXANDRE HERCULANO, 29 R/C","AEMD PRACA ALEXANDRE HERCULANO, 29 R/C","3000 Chem. de la Côte-Sainte-Catherine, Montré...","Praça Alexandre Herculano 29, 8000-417 Faro, P...","Praça Alexandre Herculano 29, 8000-417 Faro, P..."
499,1365592,SAS LES CORNETTES (LES CORNETTES),43 ROUTE DES FRASSES,SAS LES CORNETTES (LES CORNETTES) 43 ROUTE DES...,"Les Cornettes, 43 Route des Frasses, 74360 La ...",,

In [58]:
df2 = df2.head(10)

In [62]:
df2['Company_match_address'] = ''
df2['Address_match_both'] = ''
df2['Both_match_company'] = ''
df2['All_match'] = ''

for index, row in df2.iterrows():
#     geo_address_using_company = row['geo_address_using_company']
#     geo_address_using_address = row['geo_address_using_address']
#     geo_address_using_both = row['geo_address_using_both']
    
    print(geo_address_using_company)
#     bool_company_match_address = False
#     bool_address_match_both = False
#     bool_both_match_company = False
#     bool_all_match = False
    
#     if geo_address_using_company == geo_address_using_address:
#         bool_company_match_address = True
#     else:
#         bool_company_match_address = False
        
#     if geo_address_using_address == geo_address_using_both:
#         bool_address_match_both = True
#     str2Match = geo_address_using_company.tolist()
#     strOptions =geo_address_using_address.tolist()
    fuzz.token_sort_ratio(df.geo_address_using_company[index],df.geogeo_address_using_address)
#     fuzz.ratio(str2Match,strOptions )
    print(fuzz.token_sort_ratio)
#     if geo_address_using_both == geo_address_using_company:
#         bool_both_match_company = True
#     if geo_address_using_both == geo_address_using_company == geo_address_using_both:
#         bool_all_match = True
    
#     df2['Company_match_address'] = bool_company_match_address
#     df2['Address_match_both'] = bool_address_match_company
#     df2['Both_match_company'] = bool_both_match_company
#     df2['All_match'] = bool_all_match

Westkapelseweg 1, 4374 BA Zoutelande, Netherlands
<function token_sort_ratio at 0x0000022FAC1B33A0>
Baan van Fectio 1, 3981 HZ Bunnik, Netherlands
<function token_sort_ratio at 0x0000022FAC1B33A0>
Schiphol Boulevard 101, 1118 BG Schiphol, Netherlands
<function token_sort_ratio at 0x0000022FAC1B33A0>
Minervum 7092, 4817 ZK Breda, Netherlands
<function token_sort_ratio at 0x0000022FAC1B33A0>
91 W Christmas Blvd, Santa Claus, IN 47579, USA
<function token_sort_ratio at 0x0000022FAC1B33A0>
Cam. del Coche, 7, 38400 Puerto de la Cruz, Santa Cruz de Tenerife, Spain
<function token_sort_ratio at 0x0000022FAC1B33A0>
Carrer Bedolls, 0, 07560 Sa Coma, Illes Balears, Spain
<function token_sort_ratio at 0x0000022FAC1B33A0>
Pl. de la Lealtad, 5, 28014 Madrid, Spain
<function token_sort_ratio at 0x0000022FAC1B33A0>

<function token_sort_ratio at 0x0000022FAC1B33A0>
Plaça de Sant Josep Oriol, 4, 08002 Barcelona, Spain
<function token_sort_ratio at 0x0000022FAC1B33A0>

In [53]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

In [54]:
str2Match = df2["geo_address_using_company"].fillna('######').tolist()
strOptions =df2["geo_address_using_address"].fillna('######').tolist()

In [55]:
fuzz.ratio(str2Match,strOptions)

70

In [60]:
fuzz.token_sort_ratio("Westkapelseweg 1, 4374 BA Zoutelande, Netherlands", "Nieuwstraat 14, 5688 BE Oirschot, Netherlands")

53